/*----- ESTILOS GENERALES -----*/

* {
    box-sizing: border-box;
}

:root { 
    --color-primario: #1493e9;
    --color-acento: #ff007b;
    --fondo-header: #01131c;
    --fondo: #f2f4f5;
}

body {
    margin: 0;
	padding: 0;
    background: linear-gradient(rgba(10, 10, 15, 0.8), rgba(10, 10, 15, 0.8)), url("../img/fondo.png");
    font-family: "Open Sans", sans-serif;
}

#contenedor {
    width: 100%;
	max-width: 960px;
	margin: 40px auto;
    background: var(--fondo);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-top: 8px solid var(--color-acento);
}

#contenedor div {
    display: flex;
    justify-content: center;
    /*Centralizar el contenido horizontalmente*/
}

header,
footer {
	padding: 1rem;
	text-align: center;
}

/*----- ENCABEZADO -----*/

#encabezado {
    text-align: center;
    padding: 3em;
    text-transform: uppercase;
    color: var(--color-primario);
    background-image: linear-gradient(to bottom, var(--fondo-header), rgb(25, 15, 46));
    border-bottom: 1px solid var(--fondo);
}

#encabezado h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    margin-top: 1rem;
    letter-spacing: -1px;
}

#subtitulo {
    font-size: 0.9rem;
    letter-spacing: 3px;
    margin-top: 10px;
    color: #888;
    text-align: center;
}

#subtitulo strong {
    color: var(--color-acento);
    text-shadow: 0 0 5px rgba(242, 0, 255, 0.227), 0 0 10px rgba(137, 43, 226, 0.227), 0 0 20px rgba(138, 43, 226, 0.2);
}

hr {
    border: none;
    height: 4px;
    background-color: var(--fondo-header);
}

/*----- MENU DE NAVEGACION -----*/

.menu {
    margin-top: 30px;
    margin-bottom: -35px;
    border-top: solid 0.3px var(--color-acento);
}

.menu ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: var(--color-acento);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    background-color: transparent;
    text-shadow: 0 0 5px rgba(255, 0, 195, 0.699), 0 0 10px rgba(137, 43, 226, 0.578), 0 0 20px rgba(138, 43, 226, 0.2);
}

/*----- CONTENIDO -----*/

main {
    padding: 50px;
}
    
article {
    margin-bottom: 40px;
}
    
article h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    border-left: 4px solid var(--color-primario);
    padding-left: 15px;
    margin-bottom: 20px;
}
    
article aside {
    padding-left: 50px;
    padding-right: 50px;
}
    
aside h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    border-left: 4px solid var(--color-acento);
    padding-left: 15px;
    margin-bottom: 20px;
}
    
p {
    line-height: 1.8;
    color: #444;
    text-align: justify;
}
    
ul li {
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
    color: #444;
    text-align: justify;
}

/* (3) COLUMNAS PAGINA PRINCIPAL MISMO ANCHO */

.contenido-principal {
    display: flex;
    flex-direction: column;
}

/* (2) COLUMNAS PAGINA SECUNDARIA DISTINTO ANCHO */
.contenido-secundario{
    display: flex;
    flex-direction: column;
}

#columna-1{
    flex: 2;
}

#columna-2{
    flex: 1;
}

/* TITULOS DE PÁGINA */

.encabezado-body {
    font-family: "Barlow", sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.08em;
    border-bottom: 1px solid var(--fondo-header);
    padding: 0 15px;
    position: relative;
}
    
.encabezado-body::after {
    content: "*";
    color: var(--color-acento);
    opacity: 0.2;
    font-size: 8rem;
    position: absolute;
    margin: 0;
    right: 15px;
    top: 0;
    transform: translateY(-30%);
    line-height: 1;
}

/* BLOQUE DE CITA */
    
.seccion-cita {
    padding: 30px;
    text-align: center;
}
    
.frase-cita {
    font-size: 1.8rem;
    text-align: center;
    color: #222;
    position: relative;
    padding: 0 50px;
    display: inline-block;
}
    
.frase-cita::before,
.frase-cita::after {
    position: absolute;
    font-size: 5rem;
    opacity: 0.2;
    color: var(--color-acento);
    line-height: 1;
}
    
.frase-cita::before {
    content: "❝";
    left: 0;
}
    
.frase-cita::after {
    content: "❞";
    right: 0;
}
    
.seccion-cita cite {
    display: block;
    font-size: 1rem;
    color: #444;
    font-weight: 300;
}

/* CONTENIDO INCRUSTRADO */
    
img,
video,
iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px auto;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.048);
    transition: transform 0.3s ease;
}
    
img:hover,
video:hover {
    transform: scale(1.01);
    border-color: var(--color-acento);
}
    
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 30px 0;
}
    
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*----- PIE DE PAGINA -----*/

footer {
    padding: 3em;
    background: var(--fondo-header);
    text-align: center;
    font-size: 0.8rem;
}
    
footer address {
    color: #888;
    border-top: 0.5px solid var(--color-acento);
    padding: 30px;
}
    
footer a {
    color: var(--color-acento);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
    
footer a:hover {
    background-color: transparent;
    text-shadow: 0 0 5px rgba(255, 0, 195, 0.699), 0 0 10px rgba(137, 43, 226, 0.578), 0 0 20px rgba(138, 43, 226, 0.2);
}